/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-card
{
    height:500px;
    width: 266px;
}
.mat-form-field-infix {
    
    width: 233px ;
}
.container
{
    
    margin: 0 auto;
    position: relative;
    top: 70px;
    
    max-width: 300px;
}
.noData {
    width: 297px !important;
    margin-left: 491px;
    border-radius: 5px;
    margin-top: 5px;
}
.mat-toolbar
{
    position: fixed;
    top: 0vh;
    z-index: 10;
}
